@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import (css) "/bower_components/highlightjs/styles/zenburn.css";
@import (css) "/bower_components/normalize-css/normalize.css";

body {
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
}

section {
  border: 1px solid silver;
  background-color: #9acdff;
  padding: 10px;
  margin-bottom: 10px;
}

canvas {
  width: 100%;
}

pre {
  margin: 10px 0 0 0;
}